<mat-card class="card" >
  <div >
      <mat-toolbar color="primary">
          <span>Crear - modulo Historia familiar n°3</span>
      </mat-toolbar>
  </div>
  <mat-card-content style="padding: 0 10px;">
      <form [formGroup]="formEncuesta">
          <mat-form-field appearance="legacy">
              <mat-label>Familia</mat-label>
              <input matInput formControlName="familia">
              <mat-icon matSuffix color="accent">wc</mat-icon>
          </mat-form-field>




            <h4 style="text-align: center;">Condición encuesta</h4>

            <mat-radio-group aria-label="Select an option" formControlName="condicionEncuesta" (change)="onChange()">
              <mat-radio-button value="casa encuestada" (click)="condicionEncuesta(true)">Casa encuestada</mat-radio-button>
              <mat-radio-button value="casa cerrada" (click)="condicionEncuesta(false)">Casa cerrada</mat-radio-button>
              <mat-radio-button value="casa renuente" (click)="condicionEncuesta(false)">Casa renuente</mat-radio-button>
              <mat-radio-button value="casa abandonada" (click)="condicionEncuesta(false)">Casa abandonada</mat-radio-button>
              <mat-radio-button value="lote vacío" (click)="condicionEncuesta(false)">Lote vacío</mat-radio-button>
            </mat-radio-group>

            <div style="margin-bottom: 20px;"></div>
            <mat-form-field appearance="legacy" *ngIf="casaNoEncuestada">
              <mat-label>Observación</mat-label>
              <input matInput #input formControlName="observacion">
            </mat-form-field>

            <div class="input-2-column"  style="margin-top: 12px;" *ngIf="casaEncuestada">

              <mat-form-field appearance="legacy">
                  <mat-label>fechaVisita</mat-label>
                  <input matInput #input formControlName="fechaVisita" placeholder="Ejm: 1994-04-04">
                  <mat-icon matSuffix >event</mat-icon>
                </mat-form-field>
            </div>
            <div class="input-2-column" *ngIf="casaEncuestada">
              <mat-form-field appearance="legacy">
                <mat-label>formaVisita</mat-label>
                <input matInput #input formControlName="formaVisita">
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>numeroVisita</mat-label>
                <input matInput #input formControlName="numeroVisita">
              </mat-form-field>
            </div>


          <div class="flex-center">
              <button mat-stroked-button color="accent"  mat-dialog-close>
                  <mat-icon >west</mat-icon>
                  Cancelar
              </button>
              <button mat-stroked-button
              color="primary" style="margin-left: 12px;" 
              [disabled]="formEncuesta.invalid" (click)="registrar()">
                  <mat-icon >save</mat-icon>
                  Guardar
              </button>
          </div>
          
      </form>

      
  </mat-card-content>
</mat-card>