<mat-card class="card">
  <div >
      <mat-toolbar color="primary">
          <span>Crear modulo familia n°2</span>
      </mat-toolbar>
  </div>
  <mat-card-content style="padding: 0 10px;">
      <form [formGroup]="formFamilia">

            <div class="input-2-column">
              <mat-form-field appearance="legacy">
                <mat-label>NUMERO_HISTORIA</mat-label>
                <input matInput #input formControlName="numeroHistoria">
              </mat-form-field>
            
              <mat-form-field appearance="legacy">
                <mat-label>NOMBRE</mat-label>
                <input matInput #input formControlName="nombre">
              </mat-form-field>
              
            </div>

            <div class="input-2-column">
              <mat-form-field appearance="legacy">
                <mat-label>TELEFONO</mat-label>
                <input matInput #input formControlName="telefono">
              </mat-form-field>
  
             
            </div>

            <div class="input-2-column">
              
              <mat-form-field appearance="legacy">
                <mat-label>AH/URB/HU</mat-label>
                <mat-select formControlName="ahurb_hu">
                  <mat-option *ngFor="let item of aHUrbHu" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>AV/CALLE/JIRON/PASAJE</mat-label>
                <mat-select formControlName="avcalle_jiron_pasaje">
                  <mat-option *ngFor="let item of aVCalleJironPasaje" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            
            <div class="input-2-column">
              <mat-form-field appearance="legacy">
                <mat-label>MANZANA</mat-label>
                <input matInput #input formControlName="manzana">
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>LOTE</mat-label>
                <input matInput #input formControlName="lote">
              </mat-form-field>
            </div>

              <mat-form-field appearance="legacy">
                <mat-label>SUB SECTOR</mat-label>
                <input matInput #input formControlName="subSector">
              </mat-form-field>

              <div class="input-2-column">
              
               
              
                <mat-form-field appearance="fill">
                  <mat-label>FICHA FAMILIAR</mat-label>
                  <input
                    formControlName="fechaCreacion"
                    matInput
                    [matDatepicker]="fechaCreacion"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="fechaCreacion"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #fechaCreacion></mat-datepicker>
                </mat-form-field>

              <mat-form-field appearance="legacy">
                <mat-label>REFERENCIA</mat-label>
                <input matInput #input formControlName="referencia">
              </mat-form-field>
            </div>
              <mat-form-field appearance="fill" *ngIf="empleadoInputDeshabilitado">
                <mat-label>TITULAR</mat-label>
                <input matInput #input formControlName="titular" >
              </mat-form-field>

              <mat-form-field appearance="legacy" *ngIf="!empleadoInputDeshabilitado">
                <mat-label>EMPLEADO</mat-label>
                <input type="text" matInput [formControl]="empleadoControl" [matAutocomplete]="auto3" placeholder="Ingrese el nombre para iniciar busqueda">
                <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let empleado of empleadosFiltrados | async" [value]="empleado" [ngClass]="{'hide-autocomplete': !mostrarAutocomplete}">
                    {{empleado.nombre}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            

            




             
           
            

          <div class="flex-center">
              <button mat-stroked-button color="accent"  mat-dialog-close (click)="onNoClick()">
                  <mat-icon >west</mat-icon>
                  Cancelar
              </button>
              <button mat-stroked-button *ngIf="!data.familia"
              color="primary" style="margin-left: 12px;" 
              [disabled]="formFamilia.invalid" (click)="registrar()">
                  <mat-icon >save</mat-icon>
                  Guardar
              </button>
              <button mat-stroked-button *ngIf="data.familia"
              color="primary" style="margin-left: 12px;" 
              [disabled]="formFamilia.invalid" (click)="actualizar()">
                  <mat-icon >save</mat-icon>
                  Actualizar
              </button>
          </div>
          
      </form>

      
  </mat-card-content>
</mat-card>